


body{
    font-family: Helvetica,Arial,Tahoma,sans-serif;
    padding: 5em 15em 5em 15em;
}

.carousel {
    position: relative;
}

.carousel .item{
    width: 100%;
}

.carousel .item img{
	display: block;
    width: 100%;
}

.carousel .item.link{
    cursor: pointer;
}

.carousel nav {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.carousel nav ol {
	margin: 0;
    padding: 0;
	list-style: none;
}

.carousel nav ol li {
    float: left;
    display: block;
}

.carousel nav ol li a {
    display: block;
    text-decoration: none;
    font-size: .8em;
	background: #fff;
	color: #333;
	padding: .5em 1em .5em 1em;
}

.carousel nav ol li a.current {
    background: #333;
    color: #fff;
}